/* default settings reset */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Staatliches', cursive;
  font-family: 'Raleway', sans-serif;
}
/* /default settings reset */

body{
  background-color: #655;
}

/* utility */
.container{
  width: 90vw;
  background-color: #888;
  margin: auto;
  padding: 30px 0 30px 0;
}

.container::after{
  /* clearfix */
  content:"";
  display: table;
  clear: both;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.capital{
  text-transform: uppercase;
}

.nocap{
  text-transform: none;
}
/* /utility */

/* header */
header{
  width: 100%;
  height: 200px;
}

.presentation{
  width: 100%;
  height: 85%;
  background-image: url(../img/bosco.jpg);
  background-position: center;
  border: 10px solid white;
  font-family: 'Staatliches', cursive;
  color: white;
  text-align: center;
  position: relative;
}

.content{
  display: inline-block;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2)
}


h1{
  font-size: 40px;
  font-weight: bolder;
}

h3{
  font-size: 20px;
  font-weight: 100;
}

a{
  text-decoration: none;
}

ul li {
  list-style: none;
}

.presentation a{
  color: white;
}

.nav-bar{
  display: inline-block;
  width: 100%;
  height: 15%;
  background-color: #504741;
  text-align: center;
  position: relative;
}

.nav-bar ul{
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav-bar ul li{
  display: inline-block;
  padding: 0 10px 0 10px;
  height: 100%;
}

.nav-bar ul li:hover{
  background-color: #333;
}

.nav-bar ul li a{
  color: white;
  display: inline-block;
  height: 100%;
  font-size: 15px;
  line-height: 30px;
}
/* /header */

/* main */
/* side left menu */

.left-container{
  width: 25vw;
  /* height: 800px; */
  float: left;
  background-color: #222;
}

.box{
  background-color: white;
  margin:20px;
  padding: 20px;
}

.sidebox h4{
  color: #222;
  font-size: 18px;
  margin: 10px;
  text-transform: capitalize;

}

.sidebox ul li{
  width: 90%;
  height: 2em;
  margin: auto;
  line-height: 2em;
  padding-left: 10px;
  border-radius: 3px;
  text-transform: capitalize;
}


.sidebox ul li:hover{
  background-color: #eee;
  border-top: 1px solid #555;
}

.sidebox ul li a{
  color: #aaee22; /*light green*/
}

.center-container{
  width: 40vw;
  height: 1200px;
  float: left;
  background-color: #333;
}

.article{

}




/* /side left menu */

/* /main */
